
*{
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    padding: 0%;


}

a {
    text-decoration: none;
}

.nav-link:hover {
    background-color: #000000;
    transition: .5s;
}



.footer-container .grupo-1 .logo-ja {
    width: 100px;
    margin-right: 60px;
}


.footer-container .grupo-1 div ul li a {
    display: flex;
    text-decoration: none;
    width: 20px;
    height: 20px;
    line-height: 25px;
    margin: 5px;
    color: white
    
}

.footer-container .grupo-1 div ul li a :hover {
    color: black;
    
    
}

.footer-container .grupo-1 div {
    margin-right: 200px;
}

.footer-container .grupo-1 div {
    color: white;
    padding: 20px;
    margin-top: 20px;
    
}

.footer-container .grupo-1 div h2 {
    font-size: 18px;
    color: white;
}

.footer-container .grupo-1 div ul li img{
    width: 26px;
    display: flex;
    
    
}

.titulo {
text-align: center;
margin-top: 20px; margin-bottom: 20px;
}


