*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



.nav-link:hover {
    background-color: #000000;
    transition: .5s;
}

body {
    background-color: rgb(222, 222, 222);
    background-size: 1920px 1300px;
    background-repeat: no-repeat;
}

.titulo {            /*Titulo "BESTIA"*/
    font-size: 90px;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: 'Playfair Display', serif;
}

main {
    margin-bottom: 25px;

}



        .footer-container .grupo-1 .logo-ja {
            width: 100px;
            margin-right: 60px;
        }
        
        
        .footer-container .grupo-1 div ul li a {
            display: flex;
            text-decoration: none;
            width: 20px;
            height: 20px;
            line-height: 25px;
            margin: 5px;
            color: white
            
        }
        
        .footer-container .grupo-1 div ul li a :hover {
            color: black;
            
            
        }
        
        .footer-container .grupo-1 div {
            margin-right: 200px;
        }
        
        .footer-container .grupo-1 div {
            color: white;
            padding: 20px;
            margin-top: 20px;
            
        }
        
        .footer-container .grupo-1 div h2 {
            font-size: 18px;
            color: white;
        }
        
        .footer-container .grupo-1 div ul li img{
            width: 26px;
            display: flex;
            
            
        }

